Are we writing out the correct port and IP data?

## How and where to get SDP ports?

We write out RTP packets (with the IP, UDP, RTP packet stack) using the function `recording.h:stream_pcap_dump`.

When we write out an RTP packet, we are pulling the source and destination `(port,ip)` pairs stored in the `sfd->stream` argument to `media_socket.c:stream_packet( ... )`.

In this case, the source and destination ports do not match up the ports referenced in the SDP.

If I pass `sfd->socket` instead to `stream_pcap_dump`, I can get the source port to match up, but then the destination port is set to "0".

I want to figure out the best way to set the source and destination "ip:port" to match up with what is in the SDP. It looks like this comes through `udp_listener.h` functions or through `sdp.h` functions used in `call_interfaces.c:call_offer_answer_ng`.

## Why?

The reason I need this to match up with the SDP is that is how the UAs detect dynamic payload type mappings. In [RFC 3264, Section 8.3.2](https://tools.ietf.org/html/rfc3264#section-8.3.2), it states

> This list MAY include new formats, and MAY remove formats present from the previous SDP.  However, in the case of RTP, the mapping from a particular dynamic payload type number to a particular codec within that media stream MUST NOT change for the duration of a session.

It looks like a dynamic payload type number is only unique for a given media "m=" section in the SDP, given that each "m=" section corresponds to a media stream. So, two different media sections could use the same dynamic type number to refer to different types across their respective media sections.

@rfuchs, I've spent a fair amount of time poking through the code trying to find the best way to do this or where those ports are extracted and stored on the heap, but if you or any other core developers know a solution off the top of your head, that would save a lot of code-searching. :smile: 

To match up the IP header with what's in the SDP, you can:

For incoming packets:
- `sfd` argument to `stream_packet`, specifically the `endpoint_t` `sfd->socket.local`. This gives the local IP and port on which the packet arrived on.
- `stream` in `stream_packet` (equals `sfd->stream`), specifically `stream->endpoint` for the adjusted/learned IP and port from which the packet was sent from, or `->advertised_endpoint` for the unadjusted IP/port from the SDP.

For the other end of the forwarding chain, outgoing packets:
- `sink->endpoint` for the destination IP and port
- `stream->selected_sfd->socket.local` for the local source IP/port for the outgoing packet

A slight complication are instances where rtpengine runs behind a NAT and local interfaces are configured with different advertised addresses. In this case, the SDP would not contain the address from `...->socket.local` but rather from `sfd->local_intf->spec->address.advertised` (which is a `sockaddr_t`). If the IP header must match the SDP even in this NAT case, then use this for local addresses instead of `socket.local`.

Very much appreciated! I'll work those changes in. It always needs to match up to the SDP to correctly match the codecs up, so I'll have to go with what you suggested in the second comment. Thanks!

Fixed by 5ca79ed630e5f5a0c03fdb3360dc2f13e554f1db.